{% extends 'index.html' %}
{% load static %}

{% block contenido%}
<div class="jumbotron">
	<br>
	<h2>Instrucciones</h2>
	<p>
A good 2 act does not wash out the bad, nor a bad act the good. Each should have its own reward. A Lannister always pays his debts. What is dead may never die. It's ten thousand miles between Kings landing and the wall. The bear and the maiden fair. A Lannister always pays his debts. Pay the iron price. I would like a trial by combat. The night is dark and full of terrors.
	</p>
</div>
<div style="padding:5%">
	<div class="progress progress-striped active">
	  <div class="progress-bar" style="width: 45%"></div>
	</div>
	<table class="table table-striped table-hover">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Pregunta</th>
	      <th>Respuesta</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>1</td>
	      <td>Se le dificulta o no presta atención a cosas pequeñas (se pierden detalles).</td>
	      <td>
		<ul class="pagination" style="z-index:-1">
		  <li><a>1</a></li>
		  <li><a>2</a></li>
		  <li><a>3</a></li>
		</ul>
	      </td>
	    </tr>
	    <tr>
	      <td>2</td>
	      <td>Por descuido comete errores en las tareas escolares, en el trabajo o durante otras actividades (se pasan por alto errores o detalles).</td>
	      <td>
		<ul class="pagination">
		  <li><a>1</a></li>
		  <li><a>2</a></li>
		  <li><a>3</a></li>
		</ul>
	      </td>
	    </tr>
	    <tr>
	      <td>3</td>
	      <td>Mantiene por poco tiempo o no puede mantener atención en tareas</td>
	      <td>
		<ul class="pagination">
		  <li><a>1</a></li>
		  <li><a>2</a></li>
		  <li><a>3</a></li>
		</ul>
	      </td>
	    </tr>
	    <tr>
	      <td>4</td>
	      <td>Mantiene por poco tiempo o no puede mantener atención en clases, conversaciones o lecturas largas.</td>
	      <td>
		<ul class="pagination">
		  <li><a>1</a></li>
		  <li><a>2</a></li>
		  <li><a>3</a></li>
		</ul>
	      </td>
	    </tr>
	    <tr>
	      <td>5</td>
	      <td>Parece tener la mente en otras cosas (pareciera no escuchar, distraído). Incluso cuando no hay ninguna distracción.</td>
	      <td>
		<ul class="pagination">
		  <li><a>1</a></li>
		  <li><a>2</a></li>
		  <li><a>3</a></li>
		</ul>
	      </td>
	    </tr>
	    <tr>
	      <td>6</td>
	      <td>No sigue instrucciones y no termina las tareas escolares, los quehaceres de la casa o los deberes laborales.</td>
	      <td>
		<ul class="pagination">
		  <li><a>1</a></li>
		  <li><a>2</a></li>
		  <li><a>3</a></li>
		</ul>
	      </td>
	    </tr>
	    <tr>
	      <td>7</td>
	      <td>Inicia tareas pero se distrae fácilmente. Y luego evita hacer estas tareas.</td>
	      <td>
		<ul class="pagination">
		  <li><a>1</a></li>
		  <li><a>2</a></li>
		  <li><a>3</a></li>
		</ul>
	      </td>
	    </tr>
	  </tbody>
	</table> 
</div>

{% endblock %}
