{% extends 'index.html' %}
{% load static %}
{% load thumbnail %}

{% block head %}
		<link rel="stylesheet" media="all" type="text/css" href="{% static 'styles/record_manager.css' %}" >
{% endblock %}

{% block contenido%}
<div class="container">
	<div class="row">
	<div class="col-sm-4">
		<div class="well bs-component">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Expediente: {{id_record}}</h3>
			</div>
			
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
				{% for form_display in forms_added %}
				
					<li><a href= {% url 'healthRecord:url_record_view' r=identifier_record r_id=id_record f_id=form_display.id_form %} >{{form_display.form_type_id_form_type.name}}</a></li>
				
				{% endfor %}
				{% for file_display in files_added %}
					{% if file_display.name %}
						<li><a href= {% url 'healthRecord:file_view' r=identifier_record r_id=id_record f_id=file_display.id_upload_form f_name=file_display.form_type_id_form_type.code%} target="_blank">{{file_display.name}}</a></li>
					{%else%}
						<li><a href= {% url 'healthRecord:file_view' r=identifier_record r_id=id_record f_id=file_display.id_upload_form f_name=file_display.form_type_id_form_type.code%} target="_blank">{{file_display.form_type_id_form_type.name}}</a></li>
					{% endif %}
				{% endfor %}
				{% for summary_a in summary_added %}
					<li><a href= {% url 'healthRecord:edit_summary' r=identifier_record r_id=id_record f_id=summary_a.id_summary_form %}>{{summary_a.form_type_id_form_type.name}}</a></li>
				{% endfor %}
				</ul>
				{% if not summary_added.all %}
					<div class="alert alert-dismissible alert-danger">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>¡Aviso!</strong> No ha agregado un formato de resumen
					</div>
				{% endif %}
				<br>
				<form method="POST" action="{% url 'healthRecord:form_add' r=identifier_record r_id=id_record %}">
				{% csrf_token %}
					<fieldset>
						<div class="form-group">
							<label>Agregar Formato</label>
							<select class="form-control" name="form_identifier" required>
								<option value="" disabled selected>Seleccionar Formato</option>
								{% for form_missing in forms_missing %}
									<option value = {{form_missing.id_form_type}}>{{form_missing.name}}</option>
								{% endfor %}								
							</select>
						</div>
						<div class="form-group">
							<div class="col-lg-10">
							<button type="submit" class="btn btn-primary">Agregar</button>
							</div>
						</div>
					</fieldset>
				</form>
				<br>
				<br>
				<form method="POST" action="{% url 'healthRecord:remove_file' r=identifier_record r_id=id_record %}">
				{% csrf_token %}
					<fieldset>
						<div class="form-group">
							<label>Eliminar Archivo</label>
							<select class="form-control" name="file_identifier" required>
								<option value="" disabled selected>Seleccionar Archivo</option>

								{% for file_display in files_added %}
									<option value = {{file_display.id_upload_form}}>{{file_display.form_type_id_form_type.name}}</option>
								{% endfor %}								
							</select>
						</div>
						<div class="form-group">
							<div class="col-lg-10">
							<button type="submit" class="btn btn-primary">Borrar</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="well bs-component">
		<form class="form-horizontal">
			{% csrf_token %}
			<fieldset>
				<legend id="nombre_formato">{{form_displaying.form_type_id_form_type.name}}</legend>
				{% for answer,aux_list in answers_tuple%}
					{% if answer.field_id_field.field_type == 0 %}
						<div class="form-group">
							<div class="col-xs-8 col-xs-offset-1">
								<h3>{{answer.field_id_field.field_name}}:</h3>
							</div>
						</div>
					{% elif answer.field_id_field.field_type == 8 %}
						<div class="form-group">
							<div class="col-xs-8 col-xs-offset-1">
								<h4>{{answer.field_id_field.field_name}}:</h4>
							</div>
						</div>
					{% elif answer.field_id_field.field_type == 10 %}
						<div class="form-group">
							<div class="col-xs-8 col-xs-offset-1">
								<h5>{{answer.field_id_field.field_name}}:</h5>
							</div>
						</div>
					{% elif answer.field_id_field.field_type == 1 %}
						{%if answer.text_answer != ""%}
						<div class="form-group table-row">
							<label class="col-xs-4 control-label">{{answer.field_id_field.field_name}}:</label>
							<div class="col-xs-8">
								<p class="label-answer control-label">{{answer.text_answer}}</p>
							</div>
						</div>
						{%endif%}
					{% elif answer.field_id_field.field_type == 2 %}
						<div class="form-group table-row">
							<label class="col-xs-4 control-label">{{answer.field_id_field.field_name}}:</label>
							<div class="col-xs-8">
								<p class="label-answer control-label">{{answer.int_answer}}</p>
							</div>
						</div>
					{% elif answer.field_id_field.field_type == 4 %}
						<div class="form-group table-row">
							<label class="col-xs-4 control-label">{{answer.field_id_field.field_name}}:</label>
							<div class="col-xs-8">
								<p class="label-answer control-label">{{answer.date_answer|date:'d/m/Y'}}</p>
							</div>
						</div>
					{% elif answer.field_id_field.field_type == 5 %}
						{%if answer.text_answer != ""%}
						<div class="form-group table-row">
							<label class="col-xs-4 control-label">{{answer.field_id_field.field_name}}:</label>
							<div class="col-xs-8">
								<p class="label-answer control-label">{{answer.text_answer}}</p>
							</div>
						</div>
						{%endif%}
					{% elif answer.field_id_field.field_type == 6 or answer.field_id_field.field_type == 11 %}
						{%if answer.text_answer != ""%}
						<div class="form-group table-row">
							<label class="col-xs-4 control-label">{{answer.field_id_field.field_name}}:</label>
							<div class="col-xs-8">
								<p class="label-answer control-label">{{answer.text_answer}}</p>
							</div>
						</div>
						{%endif%}
					{% elif answer.field_id_field.field_type == 12 %}
						{%if answer.text_answer != ""%}
						<div class="form-group table-row">
							<label class="col-xs-4 control-label">{{answer.field_id_field.field_name}}:</label>
							<div class="col-xs-8">
								<a class="btn btn-default" href="{% url 'healthRecord:picture_view' field_id=answer.id_form_has_field%}" target="_blank">ver Imagen</a>
							</div>
						</div>
						{%endif%}
					{% elif answer.field_type == 7 or answer.field_type == 9%}
						<div class="form-group table-row">
							<div class="form-table-container">
								<label class="col-xs-8 col-xs-offset-2">{{answer.form_table_name}}</label>
								<table class="table table-striped table-hover ">
									<thead>
										<tr>
											{% if answer.field_type == 7 %}
												<th id="{{answer.form_table_identifier}}_text_space"></th>
											{% endif %}
								
											{% for column in answer.column_list %}
												{% if column %}
													<th>{{column}}</th>
												{% endif %}
											{% endfor%}
									
										</tr>
										<tbody>
											{% for i in aux_list %}
												<tr>
													{% if answer.field_type == 7 %}
														<td id="{{answer.form_table_identifier}}_first_col_{{forloop.counter}}"></td>
													{% endif %}
													{% if answer.number_columns >= 1 %}
														<td>{{i.answer_col_1}}</td>
													{% endif %}
													{% if answer.number_columns >= 2 %}
														<td>{{i.answer_col_2}}</td>
													{% endif %}
													{% if answer.number_columns >= 3 %}
														<td>{{i.answer_col_3}}</td>
													{% endif %}
													{% if answer.number_columns >= 4 %}
														<td>{{i.answer_col_4}}</td>
													{% endif %}
													{% if answer.number_columns >= 5 %}
														<td>{{i.answer_col_5}}</td>
													{% endif %}
													{% if answer.number_columns >= 6 %}
														<td>{{i.answer_col_6}}</td>
													{% endif %}
													{% if answer.number_columns >= 7 %}
														<td>{{i.answer_col_7}}</td>
													{% endif %}
												</tr>
											{% endfor %}
										</tbody>
									</thead>
								</table>
							</div>
						</div>
					{% endif %}
					
					
				{% endfor %}
				<div class="form-group">
					<div class="col-md-6 col-md-offset-4">
						<a class="btn btn-primary" href={% url 'healthRecord:record_edit' r=identifier_record r_id=id_record f_id=form_displaying.id_form %}>Editar</a>
						<a class="btn btn-default" href={% url 'healthRecord:record_dashboard'%}>Regresar a Manejo de Expediente</a>
					</div>
				</div>
				
			</fieldset>
			
		</form>
		</div>
		<div class="contenedor-comentarios">
			<h2 class="supervision-area">Área de supervisión</h2>
			{% for comentario in comentarios %}
			<div class="contenedor-comentario">
				<div class="comment-author">
					{% thumbnail comentario.formUser.image_uri "200x200" crop="center" as im %}
						<div style='margin:0 auto;'>
							<img src="{{ im.url }}" width="70px"/>
						</div>
					{% endthumbnail %}
				
					{{comentario.nombre}}
					<br />
					<span class="date-commented">{{comentario.fecha}}</span>
				</div>
				<div class='comment-message'> 
					{{comentario.message}}
				</div>
			</div>
			{% endfor %}
		</div>
		<form method="POST" class="comment-form" action="{% url 'healthRecord:add_comment' r=identifier_record r_id=id_record f_id=form_displaying.id_form %}">
			{% csrf_token %}
			<div class="contenedor-comentarios">
				<div class="comment-author">
					{% thumbnail miusuario.image_uri "200x200" crop="center" as im %}
						<div style='margin:0 auto;'>
							<img src="{{ im.url }}" width="70px"/>
						</div>
					{% endthumbnail %}
					{{user.first_name}} {{user.last_name}} 
				</div>
				<div class='comment-message'> 
					<textarea name="mi-comentario" class="my-comment"></textarea>
				</div>
				<div class="submit-container">
					<input type="submit" class="comment-submit btn btn-primary" style='margin-bottom:20px;' value="Comentar">	
				</div>
			</div>
		</form>
	</div>
	<div class="modal">
		<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
		<p>One fine body…</p>
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary">Save changes</button>
		</div>
		</div>
		</div>
	</div>
	</div>
	<div style="clear:both;"></div>
<div class="container">
{% endblock %}
{% block scripts%}
	<script src="{% static 'scripts/form_dropdown.js' %}"></script>
	<script src="{% static 'scripts/form_tables.js' %}"></script>
	<script src="{% static 'scripts/form_tables_2.js' %}"></script>
{% endblock %}
