{% extends 'index.html' %}
{% load static %}
{% block contenido%}
<div class="container">
	<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<div class="well bs-component">
		<form method="post" enctype="multipart/form-data" class="form-horizontal" action="{% url 'healthRecord:add_file' r=identifier_record r_id=id_record f_id=my_form_type.id_form_type %}">
			{% csrf_token %}
			<fieldset>
				<legend>
				Expediente: {{id_record}}<br>
				{{my_form_type.name}}		
				</legend>
				{% for field in form %}
					{% if field.name == 'name_of_file' %}
						{% if my_form_type.multiple %}
							<div class="form-group" id="{{ field.name }}">
								<label class="col-xs-4 control-label">
									Identificador del archivo:
								</label>
						
								<div class="col-xs-8">
									{% for error in field.errors %}
										{{error}}
									{% endfor %}
									{{field}}
								</div>
							</div>
						{% endif %}
					{% else %}
						<div class="form-group" id="{{ field.name }}">
							<label class="col-xs-4 control-label">
								Archivo a subir:
							</label>
						
							<div class="col-xs-8">
								{% for error in field.errors %}
									{{error}}
								{% endfor %}
								{{field}}
							</div>
						</div>
					{% endif %}
				{% endfor %}
				<div class="col-md-4 col-md-offset-4">
					<a class="btn btn-default" href={% url 'healthRecord:url_record_view' r=identifier_record r_id=id_record f_id=0 %}>Cancelar</a>
			<input class="btn btn-primary" type="submit" value="Guardar" />
				</div>
			</fieldset>
			
		</form>
	</div>
	</div>
	</div>
</div>
{% endblock %}
