{% extends 'index.html' %}
{% load static %}
{% block head %}
{% endblock %}


{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well bs-component">
                <form method="post" class="form-horizontal" action="{% url 'testarea:test_organizaciones' test=test_id %}">{% csrf_token %}
                    <fieldset>
                        <legend>Datos Generales</legend>
                        {% for field in form %}
                            {% if field.label == 'Genero'%}
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Género</label>
                                    <div class="col-lg-8">
                                    {% for radio in form.gender %}
                                        <div class="radio">
                                            {{radio}}
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% elif field.label == 'Estado Civil'%}
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">{{ field.label }}</label>
                                    <div class="col-lg-8">
                                    {% for radio in form.marital_status %}
                                        <div class="radio">
                                            {{radio}}
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% elif field.label == 'Educacion'%}
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Educación</label>
                                    <div class="col-lg-8">
                                    {% for radio in form.education %}
                                        <div class="radio">
                                            {{radio}}
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% elif field.label == 'Tiempo de laborar en la empresa'%}
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">{{ field.label }}</label>
                                    <div class="col-lg-8">
                                    {% for radio in form.working_time %}
                                        <div class="radio">
                                            {{radio}}
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% elif field.label == 'Organization size'%}
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Tamaño de la Empresa</label>
                                    <div class="col-lg-8">
                                    {% for radio in form.organization_size %}
                                        <div class="radio">
                                            {{radio}}
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% elif field.label == 'Tipo de Organizacion'%}
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Tipo de Organización</label>
                                    <div class="col-lg-8">
                                    {% for radio in form.organization_type %}
                                        <div class="radio">
                                            {{radio}}
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">{{ field.label }}</label>
                                    <div class="col-lg-8">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </fieldset>
                    <div class="form-group">
                      <div class="col-lg-6 col-lg-offset-5 col-xs-5 col-xs-offset-4">
                        <input class="btn btn-primary" type="submit" value="Continuar" />
                      </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}
